<div ng-include="'views/searchBar.html'"></div>
<div class="container form" style="padding-top: 10px;">
    <h1>
        <img src="img/info.png" alt="setting"> <span><span class = "translate-chain-page-title">Nebula Information</span>
    </h1>
    <br/>
    <div id="chain" class="blockdiv">
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <th colspan="2" style="text-align:left" class = "translate-chain-table1-title">Summary</th>
            </thead>
            <tbody>
                <tr>
                    <td class = "translate-chain-table1-row1">Current Block</td>
                    <td>
                        <a href="./#/block/{{ blockNum }}">{{ blockNum }}</a>
                    </td>
                </tr>
                <tr>
                    <td class = "translate-chain-table1-row2">Block Time</td>
                    <td>
                        {{ blocktime  | number:2}} <span class = "translate-chain-table1-since-last">seconds since block</span>
                        <a href="./#/block/{{ blockNum - 1 }}">{{ blockNum - 1 }}</a>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class = "translate-chain-table1-row3">Block Time Averages</td>
                    <td>
                        {{ averages.latest10  | number:2}} <span class = "translate-chain-table1-since-t000010">seconds for the past 10 blocks</span>
                        <br> {{ averages.latest100 | number:2}} <span class = "translate-chain-table1-since-t000100">seconds for the past 100 blocks</span>
                        <br> {{ averages.latest1000  | number:2}} <span class = "translate-chain-table1-since-t001000">seconds for the past 1,000 blocks</span>
                        <br> {{ averages.latest10000  | number:2}} <span class = "translate-chain-table1-since-t010000">seconds for the past 10,000 blocks</span>
                        <br> {{ averages.latest100000  | number:2}} <span class = "translate-chain-table1-since-t100000">seconds for the past 100,000 blocks</span>
                    </td>
                </tr>
                <tr>
                    <td  class = "translate-chain-table1-row4">Current Difficulty</td>
                    <td>{{ difficulty_formatted }}</td>
                </tr>
                <tr>
                    <td  class = "translate-chain-table1-row6">Gas Limit</td>
                    <td>{{ gasLimit }}</td>
                </tr>
                <tr>
                    <td  class = "translate-chain-table1-row7">Time</td>
                    <td>{{ time }}</td>
                </tr>
                <tr>
                    <td  class = "translate-chain-table1-row8">Connected to Nebula Network</td>
                    <td>{{ isConnected }}</td>
                </tr>
                <tr>
                    <td  class = "translate-chain-table1-row9">API/Client Version</td>
                    <td>{{ versionApi }} - {{ versionClient }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>